<div *ngIf="question">
  <section class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          {{ question.q }}
        </h1>
      </div>
    </div>
  </section>
  <nav class="level is-mobile">
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">No. Answers</p>
        <p class="title">{{ question.num_answers() }}</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Asked By</p>
        <p class="title">Name here</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Asked</p>
        <p class="title">Tues, May 3rd 2018 14:55</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Answered</p>
        <p class="title">{{ question.has_answer() }}</p>
      </div>
    </div>
  </nav>

  <div class="box">

    <article *ngIf="question.answer && question.answer.official_answer" class="message is-dark is-success">
      <div class="message-title">Official Answer</div>
      <div class="message-body">
        <!-- Accepted Answer "a" -->
        {{ question.answer.official_answer }} 
      </div>
    </article>

    <article class="message is-info">
      <div class="box">
        <!-- Accepted Answer "a" -->
        <qaa-answer-form></qaa-answer-form>
      </div>
    </article>




    <h2>Other Answers</h2>
    <article ngShow="question.answer && question.num_answers() > 0" class="message is-dark is-success">
      <div class="message-body">
        There are no answers provided yet, feel free to add one.
      </div>
    </article>

    <div *ngFor="let answer of question.answer.answers">
      <hr/>
      <article class="message">
        <div class="message-body">
          <div class="columns is-mobile">
            <div class="column is-three-quarters">
                {{ answer.answer }}
                <small>{{ answer.dateof }}</small>
            </div>
            <div class="column">
              <a class="button is-success">Vote Up</a>
              Current Vote
              <a class="button is-warning">Vote Down</a>
              <a class="button is-info is-outlined">Make Official</a>
              <a class="button is-danger is-outlined">Delete</a>
            </div>
          </div>
          
        </div>
      </article>

    </div>

  </div>


</div>