<div *ngIf="question">
  <section class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          {{ question.q }}
        </h1>
      </div>
    </div>
  </section>
  <nav class="level is-mobile">
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">No. Answers</p>
        <p class="title">{{ question.num_answers() }}</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Asked By</p>
        <p class="title">Name here</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Asked</p>
        <p class="title">Tues, May 3rd 2018 14:55</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Answered</p>
        <p class="title">Yes/No</p>
      </div>
    </div>
  </nav>

  <div *ngIf="question.answer && question.num_answers() > 0;else no_content_found">

    <article *ngIf="question.answer.official_answer" class="message is-dark is-success">
      <div class="message-body">
        <!-- Accepted Answer "a" -->
        {{ question.answer.official_answer }} 
      </div>
    </article>

    <div *ngFor="let answer of question.answer.answers">

      <article class="message">
        <div class="message-body">
          {{ answer.answer }} 
<a class="button is-success is-outlined">Vote Up</a>
Current Vote
<a class="button is-danger is-outlined">Vote Down</a>
        </div>
      </article>

    </div>

  </div>


  <ng-template #no_content_found>
  <article class="message is-dark is-success">
    <div class="message-body">
      There are no answers provided yet, feel free to add one.
    </div>
  </article>
  </ng-template>

</div>